<!DOCTYPE html>
<html>
<head>
<link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
	<title>P2P Layout</title>
</head>
<body>
<h2 class="center">Lending Summary</h2>
<div id="next_payments" style="position: absolute; right: 120px; top: 30px;">
	<h3 class="mb4">Next Payment</h3>
</div>
<div id="view_type" style="position: absolute; left: 30px;">
	<ul class="list-reset mt0">
		<li class="inline-block mr1"><h3 class="border-top border-right border-left rounded-top px1" style="background: #fafafa;">Borrow</h3></li>
		<li class="inline-block mr1"><h3 class="border-top border-right border-left rounded-top px1" style="background: #fafafa;">Lend</h3></li>
</div>
<div class="center center px2 py2 mt4 white bg-gray bg-cover bg-center rounded border" id="summary" style="background: #fafafa; border-color: gray; border-radius: 2 2 2 2;">
<h2 class="mb0 pb0">Borrowing Group:</h2>
<ul class="list-reset flex justify-center mt0">
		<li><h3 class="mx2">Loan ID</h3>
			<ul class="list-reset">
				<li><a href="">1139288</a></li>
				<li><a href="">2293344</a></li>
			</ul>
		</li>
		<li><h3 class="mx2">Loan Amount</h3></li>
		<li><h3 class="mx2">Interest Rate</h3></li>
		<li><h3 class="mx2">Time Left</h3></li>
</ul>
</div>
</body>
</html>